@model Ingridients
@{
	ViewData["Title"] = "Create Ingredient";
}
<div class="d-flex justify-content-center">
	<h3> Create an Ingredient!</h3>
</div>
<form asp-action="CreateIngredient" method="post">
	<div>
		<label for="Name">Name of Ingredient</label>
		<input type="text" asp-for="Name"/>
		<button type="submit" class="btn btn-info">Create!</button>
	</div>
</form>